= form_for post do |f|
  .post-form__field
    .post-form__field--left
      = f.label :name, class:'post-form__label'
    .post-form__field--right
      = f.text_field :name, class:'post-form__input', placeholder: 'ユーザーネーム', autocomplete: 'off'
    .post-form__field--left
      = f.label :have_done, class:'post-form__label'
    .post-form__field--right
      = f.text_area :have_done, class:'post-form__input', placeholder: '今日の学習内容', style: 'width: 100%; height: 200px;', autocomplete: 'off'
    .post-form__field--left
      = f.label :to_do, class:'post-form__label'
    .post-form__field--right
      = f.text_area :to_do, class:'post-form__input', placeholder: '明日以降の予定', style: 'width: 100%; height: 200px;', autocomplete: 'off'
    .post-form__field--left
      = f.label :comment, class:'post-form__label'
    .post-form__field--right
      = f.text_area :comment, class:'post-form__input', placeholder: 'コメント', style: 'width: 100%; height: 200px;', autocomplete: 'off'

  = f.submit '投稿する', class:'blue darken-3'